SECRET_KEY=designed_and_built_by_phith0n
LC_ALL="en_US.UTF-8"
LANG="en_US.UTF-8"
FLASK_APP="app.py"
FLASK_DEBUG=1
DATABASE_URL=sqlite:///data/db.sqlite3
WHITELIST_IPADDRESS=127.0.0.1
REDIS_URL=redis://127.0.0.1:6379/0
